{% extends "index.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/profile_view.css' %}">
{% endblock %}
{% block title %}
	Profile
{% endblock %}

{% block content %}
<main>
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-image">
                <img class="user-icon" src="{% static user_profile.user_icon %}" alt="User Icon">
            </div>
            <h2>{{ user_profile.username }}</h2>
            <p><i class="fas fa-envelope"></i><span>Email:</span> {{ user_profile.email }}</p>
            <p><i class="fas fa-user"></i><span>First name:</span> {{ user_profile.first_name }}</p>
            <a href="{% url 'profile-edit' %}" class="edit-button">Profilni tahrirlash</a>
        </div>
    </div>
</main>
{% endblock %}
