{% extends 'index.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/tag.css' %}">
	<link rel="stylesheet" href="{% static 'css/episode.css' %}">
{% endblock %}
{% block title %}
	    Edit tag
{% endblock %}

{% block content %}
	<div class="creat-tag">
    <div>
        <span><a href="{% url 'episode-list' %}">Episodes</a></span>
        <h1>Edit Tag</h1>
    </div>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create" class="btn btn-success mt-1 mb-3">
        </form>

    </div>
{% endblock %}
